extends layouts/main

block content 
    .form-container 
        p=message
        form(method="post", enctype="multipart/form-data")
            div.row.g-3
                div.col-12
                    label.form-label(for="avatar") Avatar
                    input.form-control(type="file", id="avatar", name="avatar", accept="image/*")
                div.col-12 
                    label.form-label(for="title") NickName
                    input.form-control(id="title", type="text", name="nickName", placeholder="NickName", required, value=loggedInUser.nickName)
                div.col-12 
                    label.form-label(for="email") Description
                    input.form-control(id="email", type="email", name="email", placeholder="Email", required, value=loggedInUser.email)
                div.col-12 
                    label.form-label(for="name") Full Name
                    input.form-control(id="name", type="text", name="name", placeholder="Full Name", required, value=loggedInUser.name)
                div.col-12 
                    label.form-label(for="location") Location
                    input.form-control(id="location", type="text", name="location", placeholder="Location", value=loggedInUser.location)
                if !loggedInUser.socialOnly
                    hr
                    a.form-container__link(href=`/users${routes.changePassword}`) Change Password
                input.btn.btn-secondary(type="submit", value="Submit")