extends layouts/main

block content 
    .form-container 
        img(src=loggedInUser.avatarUrl, width="100", height="100")
        p=message
        form(method="post", enctype="multipart/form-data")
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar", accept="image/*")
            input(type="text", name="nickName", placeholder="NickName", required, value=loggedInUser.nickName)
            input(type="email", name="email", placeholder="Email", required, value=loggedInUser.email)
            input(type="text", name="name", placeholder="Full Name", required, value=loggedInUser.name)
            input(type="text", name="location", placeholder="Location", required, value=loggedInUser.location)
            input(type="submit", value="Update Profile")
            if !loggedInUser.socialOnly
                hr
                a.form-container__link(href=`/users${routes.changePassword}`) Change Password