header.p-3.text-white
    .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
            a(href="/").d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none
                i.fab.fa-youtube

            div.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0

            form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(action=routes.search, method="get")
                input.form-control(type="search", placeholder="Search...", aria-label="Search",  name="term")

            if !loggedIn
                button.btn.btn-outline-light.me-2(type="button", onclick=`location.href="${routes.join}"`) Join
                button.btn.btn-outline-light.me-2(type="button", onclick=`location.href="${routes.login}"`) Login

            else
                .dropdown.text-end
                    a.d-block.link-dark.text-decoration-none.dropdown-toggle(href="#", id="dropdownUser", data-bs-toggle="dropdown", aria-expanded="false")
                        if loggedIn
                            if loggedInUser.avatarUrl
                                if isHeroku
                                    img.rounded-circle(src=loggedInUser.avatarUrl, width="32", height="32")
                                else 
                                    img.rounded-circle(src=`/${loggedInUser.avatarUrl}`, width="32", height="32")
                            else 
                                span.dot

                    
                    ul.dropdown-menu.text-small(aria-labelledby="dropdownUser")
                        li 
                            a.dropdown-item(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}'s Profile
                        li 
                            a.dropdown-item(href='/users/editProfile') Edit Profile                        
                        li
                            hr.dropdown-divider
                        li 
                            a.dropdown-item(href=`/videos${routes.upload}`) Upload
                        li 
                            a.dropdown-item(href='/users/logout') Log Out
    hr
